node_modules
.next
npm-debug.log
.env
.env.local
.env.production
.env.test

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
.mypy_cache/

# Databases
*.db
*.db-journal
*.db-shm
*.db-wal

# Git
.git/
.gitignore

# Assets
*.mp3
*.pdf
storage/
