ENVIRONMENT=sandbox\n\n# Paddle\nPROD_PADDLE_VENDOR_ID=\nPROD_PADDLE_API_KEY=\nPROD_PADDLE_WEBHOOK_SECRET_KEY=\nSANDBOX_PADDLE_VENDOR_ID=\nSANDBOX_PADDLE_API_KEY=\nSANDBOX_PADDLE_WEBHOOK_SECRET_KEY=\n\n# Clerk\nPROD_CLERK_PEM_PUBLIC_KEY=\nPROD_CLERK_JWT_ISSUER=\nPROD_CLERK_JWT_AUDIENCE=\nSANDBOX_CLERK_PEM_PUBLIC_KEY=\nSANDBOX_CLERK_JWT_ISSUER=\nSANDBOX_CLERK_JWT_AUDIENCE=\n\n# Frontend\nNEXT_PUBLIC_ENVIRONMENT=sandbox\nNEXT_PUBLIC_PROD_CLERK_PUBLISHABLE_KEY=\nNEXT_PUBLIC_SANDBOX_CLERK_PUBLISHABLE_KEY=\nNEXT_PUBLIC_PROD_API_URL=\nNEXT_PUBLIC_SANDBOX_API_URL=
